.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.display-content {
  display: contents;
}

.text-field {
  margin-bottom: 15px!important;
  width: 400px;
}